<p class="text-gold-100 text-xl"><span class="font-bold">TACO</span> presents</p>
<h1 class="mt-2 text-6xl">the 6th Annual <span class="font-cursive text-7xl text-gold-400">No Show Gala</span></h1>

<div class="pr-48 font-light">
  <p class="text-xl mt-8">Join us for a night of not attending while supporting San Diego’s award-winning non-profit organization.</p>
</div>

<% @products.each do |product| %>
  <div data-product-id="<%= product.id %>">
    <%= "NO #{product.name.downcase}" %>
    <%= "$#{product.price}" %>
    <%= button_tag "Add", class: "add-button", onclick: "addToCart(this)" %>
    <%= button_tag "Added", class: "added-button hidden", onclick: "removeFromCart(this)" %>
  </div>
<% end %>

<%= button_tag "CHECKOUT (0)", id: "checkout-button" %>

<script>
  function addToCart(buttonElement) {
    // Hide the clicked "Add" button
    buttonElement.classList.add("hidden");

    // Show the corresponding "Added" button
    const addedButton = buttonElement.nextElementSibling;
    addedButton.classList.remove('hidden');

    // Increment the count on the "Checkout" button
    const checkoutButton = document.getElementById('checkout-button');
    const currentCount = parseInt(checkoutButton.textContent.match(/\d+/)[0]);
    checkoutButton.textContent = `CHECKOUT (${currentCount + 1})`;
  }

  function removeFromCart(buttonElement) {
    // Hide the clicked "Added" button
    buttonElement.classList.add('hidden');

    // Show the corresponding "Add" button
    const addButton = buttonElement.previousElementSibling;
    addButton.classList.remove("hidden")

    // Decrement the count on the "Checkout" button
    const checkoutButton = document.getElementById('checkout-button');
    const currentCount = parseInt(checkoutButton.textContent.match(/\d+/)[0]);
    checkoutButton.textContent = `CHECKOUT (${currentCount - 1})`;
  }
</script>
