<!DOCTYPE html>
<html>
  <head>
    <title>No Show Gala</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-black text-white">
    <main class="container mx-auto px-8 lg:px-0 lg:w-1/2">
      <%= yield %>
    </main>
  </body>
</html>
